* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('mifondo.jpg');
  }
  
  .form-register {
    width: 500px;
    background: #eb8472;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Times roman';
    color: rgb(0, 0, 0);
    box-shadow: 17px 13px 47px rgb(116, 180, 116);
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .controls {
    width: 100%;
    background: #1b1b1d;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f30f0f;
    font-family: 'Times roman';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #4c5ce9;
    border: 1px solid #f30f0f;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
  }